# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li> 
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ul>
<li>matplotlib</li>
<li>numPy</li>
<li>sciPy</li> 
</ul>

| Data Science Tools |
| -------------|
| Jupyter |
| RStudio |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
<ul>
<li>Create a new Jupyter notebook</li>
<li>Explore basic markdown and arithmetic expressions in Jupyter.</li>
<li>List popular libraries used by Data Scientists</li>
<li>List popular tools used by Data Scientists.</li> 
<li>Learn how to evaluate arithmetic expressions using python</li>

</ul>

## Author
Ben Carlo de los Santos